@font-face {
  font-family: "iconfont"; /* Project id 5160441 */
  src: url('iconfont.woff2?t=1776159590318') format('woff2'),
       url('iconfont.woff?t=1776159590318') format('woff'),
       url('iconfont.ttf?t=1776159590318') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qita:before {
  content: "\e645";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-rili:before {
  content: "\e663";
}

.icon-bianji:before {
  content: "\e67f";
}

.icon-imagevector:before {
  content: "\e607";
}

.icon-jianceqi:before {
  content: "\ec54";
}

.icon-paixu:before {
  content: "\e636";
}

.icon-liushui:before {
  content: "\e637";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

.icon-erweima:before {
  content: "\e98d";
}

.icon-dingdan:before {
  content: "\e98e";
}

.icon-guanli:before {
  content: "\e993";
}

.icon-saoma:before {
  content: "\e995";
}

.icon-shijianchuo:before {
  content: "\e996";
}

.icon-tiaoxingma:before {
  content: "\e997";
}

.icon-tubiaozhutu:before {
  content: "\e998";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-user:before {
  content: "\e99e";
}

.icon-shiji:before {
  content: "\e783";
}

.icon-shiyanshi:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e601";
}

.icon-jiqiren:before {
  content: "\e63f";
}

